// my_nextflow_pipeline/nextflow.config

// --- Parameters ---
params {
    // Input/Output
    input_bams     = "${baseDir}/bams/*.bam"
    output_dir     = "${baseDir}/results"

    // Pipeline control parameters
    mode     = 'complete'      // Options: 'complete', 'partial', 'headless'
    quantify       = 'no' // Options: 'yes', 'no'

    run_featurecounts = false         // Set false to skip featureCounts
    skip_bedtools     = false        // Set true to skip bedtools steps

    // Input files for resuming from intermediate steps
    aggregated_file   = null         // Path for 'partial' mode

}

conda.enabled = true

// --- Execution Profiles ---
profiles {
    standard {
        // Local execution, no containers
    }

    docker {
        docker.enabled   = true
        docker.runOptions = '--entrypoint=""'  // Override the entrypoint
        process.container = 'mitopozzi/rnasign:latest'
    }

    singularity {
        singularity.enabled   = true
        singularity.autoMounts = true
        process.container      = 'docker://mitopozzi/rnasign:latest'
        singularity.runOptions = '--disable-cache --containall'
    }

    test {
        params.input_bams = "${baseDir}/tests/*.bam"
        params.output_dir = "${baseDir}/tests/results"
    }
}
